<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">	<!-- 视图响应 -->
		<title><%= blog.title %></title>
		<!-- 加载bootstrap css文件 -->
		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<!-- 网站图标 -->
		<link rel="icon" href="imgs/favicon .ico" type="image/x-icon">

	</head>
	<body style="padding-top: 50px;">
	